.container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  gap: 50px;
}
.main-container
{
  width:100%;
  display:flex;
  flex-direction:row;
  align-content:center;
  justify-content:space-evenly;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-size: 25px;
  font-weight: 900;
}
input {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  padding: 75px;
  height: auto;
  border-radius: 10px;
}
.qr-canvas {
  min-height: 210px;
  min-width: 210px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  background-color: white;
   gap:15px;
}
.qr-code {
  background-color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
}
@media (max-width:700px) {
  .main-container
  {
    flex-direction:column;
    width:90%;
    height:auto;
    gap:50px;
  }
  .inputs
  {
    padding:50px;
  }
}