img{
  height:25px;
}.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;         /* w-12 */
  height: 48px;        /* h-12 */
  transform: translate(-50%, -50%);
  border-radius: 50%;  /* rounded-full */
  background-color: #ffffff; /* bg-white */
}
